#main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}

#login-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

#alias-container {
  display: flex;
  width: max-content;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#alias-container input {
  width: 120%;
  text-align: center;
  padding: 10px;
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

#alias-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #646cff; 
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

#alias-container button:hover {
  background-color: #535bf2;
}

#chat-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#chat-container > h1 {
  height: 10%;
  width: 100%;
}

#chat-container > #message-container {
  height: 80%;
  width: 98%;
  padding: 0px 10%;
  overflow-y:scroll;
  overflow-wrap: break-word;
}

#message-container::-webkit-scrollbar {
  width: 8px;
}

#message-container::-webkit-scrollbar-track {
  background: #555; 
  border-radius: 10px;
}

#message-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#message-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}

#chat-container > #input-container {
  height: 10%;
  width: 100%;
}

#connected-users {
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 20vw;
  border-right: 2px solid black;
  background-color: solid #242424;
  margin-bottom: 1vh;
}

input {
  width: 30%;
  margin-right: 5%;
}

#header-chat {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#toggle-users {
  display: none;
}

@media (max-width: 800px) {
  #chat-container {
    width: 100vw;
  }

  #connected-users {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: #242424;
  }

  #toggle-users {
    z-index: 1001;
    display: block; 
    position: absolute;
    top: 7vh;
    left: 4vw;
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
  }
}