a {
    cursor: pointer;
    margin: 2% auto;
}

#header-connected-users{
    text-align: center;
    display: grid;
    grid-template-columns: fit-content fit-content;
}

#button-header{
    grid-column: 1;
}

.button-disconnected-user {
    color: red;
}